In [149]:
# importing the data 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#from sklearn.externals import joblib    #has methos for saving and loading the models
import joblib as jb
from sklearn import tree

In [127]:
music_data=pd.read_csv('music.csv')

In [128]:
music_data   # here 0 means man 
             #      1 means women in gender

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [129]:
# preparing the data (cleaning the data)

# here there is no reputation of data and duplicates 
# so there is no need to change the data  

#the only thing to do is to divide the dataset 

#data sets as input and output data sets

In [130]:
X=music_data.drop(columns=['genre']) #changed data set amd its input

In [131]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [132]:
y=music_data['genre'] #output data set

In [133]:
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [134]:
# creating the model with algorithm 
# here used is decision tree

In [135]:
model = DecisionTreeClassifier()  # model to train the data 
model.fit(X, y)  # here we give the model the input data set and the output data set
predictions=model.predict([[21,1],[22,0]])                #input for this is two dimentional arrays
predictions                                                # here we asked o predict the data for 21 year old boy and 22 year old girl which are not given in the dataset

C:\Users\navya\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [136]:
# measuring the accuracy of the model
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2) #here text_sixe is percent of testing data set
# here  X_train,X_test is input sets                                 here we are using only 20 % of data for predictions
#       y_train,y_test is output sets                                  we can change the data set usage perecetage as 80 % to get correct accuracy
# we pass only test dataset 
model.fit(X_train,y_train)
predictions=model.predict(X_test)

score=accuracy_score(y_test,predictions) #y_test is expected values set 
score

1.0

In [137]:
# here above we get diffrent values of predictions because 

# the training data set will be different becaues it pics random values 
     #    it (refers to)== train_test_split() functions

In [138]:
# model persistence

In [146]:
model = DecisionTreeClassifier() 
model.fit(X, y)

jb.dump(model,'music-recommender.joblib')  #saving the predictions in new file using that library

['music-recommender.joblib']

In [148]:
model=jb.load('music-recommender.joblib')
predictions=model.predict([[21,1]])
predictions

C:\Users\navya\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

In [151]:
#visualization of decision tree
tree.export_graphviz(model, out_file='music-recommender.dot',
                     feature_names=['age','gender'],
                    class_names=sorted(y.unique()),label='all',rounded=True,filled=True)

#these all arguments in the function is properties of the graph how to draw it

In [152]:
#drop this file into vscode and install dot extinsion to visualize

In [ ]:
#touch ... option and preview we will get out decision tree output